html {
  scroll-behavior: smooth;
}

.text-gradient {
  background: linear-gradient(to right, #0dccf2, #AA00FF);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient2 {
  background: linear-gradient(to left, #0dccf2, #AA00FF, #ff0090 );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient3 {
  background: linear-gradient(to left, #0dccf2, #AA00FF);
  background-clip: icon;
  -webkit-text-fill-color: transparent;
}

.semi-circle-zIndex {
  z-index: -1;
}

.border {
  /* border: 25px solid linear-gradient(to right, #0dccf2, #AA00FF); */
  border: 5px solid #00b3ff;
  -webkit-border-fill-color: transparent;

}
